parameters:
	ignoreErrors:
		-
			message: "#^Method CeusMedia\\\\HydrogenSourceIndexer\\\\ModuleDescriptionRenderer\\:\\:formatCodeBlocks\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/ModuleDescriptionRenderer.php

		-
			message: "#^Only booleans are allowed in a ternary operator condition, string given\\.$#"
			count: 3
			path: src/ModuleDescriptionRenderer.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match_all expects string, string\\|null given\\.$#"
			count: 1
			path: src/ModuleDescriptionRenderer.php

		-
			message: "#^Parameter \\#3 \\$subject of function preg_replace expects array\\|string, string\\|null given\\.$#"
			count: 1
			path: src/ModuleDescriptionRenderer.php

		-
			message: "#^Parameter \\#3 \\$subject of function str_replace expects array\\|string, string\\|null given\\.$#"
			count: 1
			path: src/ModuleDescriptionRenderer.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$description\\.$#"
			count: 1
			path: src/ModuleIndex.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$path\\.$#"
			count: 1
			path: src/ModuleIndex.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$title\\.$#"
			count: 1
			path: src/ModuleIndex.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$version\\.$#"
			count: 1
			path: src/ModuleIndex.php

